<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/chapter3/newchapter3.css">
    <title>Mirza New Chapter 3</title>
</head>
<body>
    <nav class="nav navbar-expand-md">
        <div class="logo-tengkorak">
            <img src="public/chapter3/bikerskull2.png" class="logo-nav-bar" alt="logo">
        <div>
            <a class="hyperlink" href="#home">HOME</a>
            <a class="hyperlink" href="#work">WORK</a>
            <a class="hyperlink" href="contactaboutme.html">CONTACT</a>
            <a class="hyperlink" href="contactaboutme.html">ABOUT ME</a>
        </div>
        <div>
            <a class="top-score" href="topscore.html">TOP SCORE</a>
        </div>
        </div>
        <div class="registration">
            <a class="registration" href="" target="_blank">SIGN UP</a>
            <a class="registration" href="" target="_blank">LOGIN</a>
        </div>
        <div class="div-icon">
          <img src="/chapter3/assets/icon.ico" class="icon" alt="Logo">
      </div>
    </nav>
    <section class="home-background-section" id="home">
        <div class="container">
            <div>
                <h1 class="main-title">PLAY TRADITIONAL GAME</h1>
                <h3 class="sub-title">Experience New Traditional Game Play</h3>
                <button type="button" class="btn btn-warning btn-lg" href="">PLAY NOW</button>
                <div class="scroll-down">
                  <p>The Story</p>
                  <img src="/chapter3/assets/scroll-down.svg" alt="scroll-down">
                </div>                 
            </div>
          </div>
    </section>
    <section class="second-background-section" id="work">
        <div class="container">
          <div class="row">
            <div class="col">
              <h4 class="regular-text-1">What's so special?</h4>
              <h5 class="regular-text-2">THE GAMES</h5>
            </div>
            <div class="col">
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/chapter3/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="slideshow">
                  </div>
                  <div class="carousel-item">
                    <img src="/chapter3/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="slideshow">
                  </div>
                  <div class="carousel-item">
                    <img src="/chapter3/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="slideshow">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="third-background-section">
        <div class="container text-align-end">
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
              <p class="small-title">What's so special?</p>
              <p class="big-title">FEATURES</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
              <dl>
                <dt class="features"><strong>TRADITIONAL GAMES</strong></dt>
                <dd class="small-feature"><i>If you miss your childhood, we provide many traditional games here</i></dd>
                <dt class="features">GAME SUIT</dt>
                <dt class="features">TBD</dt>
              </dl>
            </div>
          </div>
        </div>
      </section>
      <section class="forth-background-section">
        <div class="container">
          <div class="row">
            <div class="col">
              <h6 class="system-requirement">SYSTEM REQUIREMENTS</h6>
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <table class="table table-bordered" style="width: 41%; height: 5%; margin-top: 3rem; margin-left: 6rem;">
                <tbody>
                <tr>
                  <td>
                    <p class="title-description">OS:</p>
                    <p class="description">Windows 7 64-bit only<br>(No OSX support at this time)</p>
                  </td>
                  <td>
                    <p class="title-description">PROCESSOR:</p>
                    <p class="description">Intel Core 2 Duo @ 2.4 GHZ or<br>AMD Athlon X2 @ 2.8 GHZ</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="title-description">MEMORY:</p>
                    <p class="description">4 GB RAM</p>
                  </td>
                  <td>
                    <p class="title-description">STORAGE:</p>
                    <P class="description">8 GB available space</P>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <p class="title-description">GRAPHICS:</p>
                    <p class="description">NVIDIA GeForce GTX 660 2GB or<br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
      </section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

